body {
	text-align: center;
}

#mainCaptcha {
	position: fixed;
	width: 400px;
	height: 200px;
	border: solid;
	text-align: center;
	padding: 80px 10px;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -200px;
	font-size: 18px;
	border-radius: 10px;
	background-color: #ffe5b3;
}

#errorCaptcha {
	position: fixed;
	width: 400px;
	height: 50px;
	border: solid #ff0000;
	text-align: center;
	padding: 10px 10px;
	top: 42%;
	left: 50%;
	margin: -100px 0 0 -200px;
	font-size: 17px;
	border-radius: 10px;
	background-color: #ffe5b3;
	display: none;
}